{{ define "main" }}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>
<script>
  /* eslint-disable no-unused-vars */
function onSubmit(token) {
    var _form = $('form[name=contact]');
    var data = _form.serialize();
    var url = 'https://us-central1-solid-outlook-270109.cloudfunctions.net/contactSubmit'; 
    var btn = _form.find('button[type=submit]');
    btn.text('Sending...');
    $('#contact-success').addClass('d-none');
    $('#contact-danger').addClass('d-none');

    $.ajax({
        url: url,
        type: _form.attr('method'),
        dataType: 'json',
        data: data,
        success: function (response) {
            btn.text('SUBMIT');
            if (response.success) {

                _form.trigger('reset');
                $('#contact-success').removeClass('d-none');

                return false;
            } else {

                $('#contact-danger').removeClass('d-none');
            }
            return false;
        },
        error: function (err) {
            btn.text('SUBMIT');
            console.log(err);
            $('#contact-danger').removeClass('d-none');
            return false;
        }
    });
};
</script>
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form name="contact" method="POST" id="contact-form">
            <div class="row">

              <div class="col-12">
                <div class="alert alert-success mt-4 d-none" id="contact-success" role="alert">
                  <h4 class="alert-heading">Your message well received!</h4>
                  <p>Our team will come back to you as soon as possible.</p>
                </div>
                <div class="alert alert-danger mt-4 d-none" id="contact-danger" role="alert">
                  <h4 class="alert-heading">Your message failed to send.</h4>
                  <p>Please try again later.</p>
                </div>
              </div>

              <div class="col-lg-6">
                <input type="text" class="form-control" name="first" id="first" placeholder="{{ .Site.Params.contactForm.placeholder_first_name }}" required>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="last" id="last" placeholder="{{ .Site.Params.contactForm.placeholder_last_name }}" required>
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="{{ .Site.Params.contactForm.placeholder_email }}" required>
              </div>
              
              <div class="col-12">
                <textarea class="form-control" id="message" name="message" rows="6" placeholder="{{ .Site.Params.contactForm.placeholder_about_the_project }}"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="g-recaptcha btn btn-primary" data-callback='onSubmit' data-action='submit'
								data-sitekey="6Lcrex0eAAAAAPU3sq5T2iIt1iST_a83dfP7MMy6">
                  <span class="btn-area">
                    <span data-text="{{ .Site.Params.contactForm.send_message }}">
                      {{ .Site.Params.contactForm.send_message }}
                    </span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
